*{
    padding:0;margin:0;
}
iframe.login-footer{
    width:100%;
    height:840px;
    margin:0 auto;
}
.header{
    width:100%;
    background: #fff;
    justify-content: space-around;
    position:fixed;
    top:0;
    z-index: 100;
}
.header div{
    background: #fff;
}
div.login-input{
    width:450px;height:200px;
    background:rgba(0,0,0,0.57);
    position:absolute;
    top:150px;right:120px;
}
div.login-input h5{
    background: transparent;
    text-align: center;
    color:#c69500;
    margin-top:10px;
}
div.login-input div{
    width:430px;margin-left:10px;
    color:#fff;
    position:relative;
}
div.login-input div img{
    display: block;
    position:absolute;
    top:4px;left:174px;
}
div.login-input div input{
    padding-left:15px;
    border:0px;
    margin-right: 5px;
}

div.login-input div span{
    background:transparent;
}
div.upwd{
    margin-top:15px;
}
div.button{
    text-align: center;
    margin-top:20px;
}
div.button button{
    padding:5px 195px;
    border:0px;
    border-radius: 5px;
    background:#9fcdf0;
    color:#0b2e13;
}
div.button button:hover{
    background:#9fcdff;
    cursor: pointer;
    color:#c69500;
}
